{% extends 'base.html' %}

{% block content %}
<h1>Lugar Details:</h1>
<br/>

<div class="card">
    <div class="card-header">
      <h4>{{Evento}}</h4>
      <h4></h4>
    </div>
    <ul>
    <div class="card-body">
      <li><h7 class="card-title">Nombre: {{Evento.Nombre}}</h7></li>
      <li><h7 class="card-title">fecha: {{Evento.Evento_fecha}}</h7></li>
      <li><h7 class="card-title">Lugar: {{Evento.Lugar}}</h7></li>
      <li><h7 class="card-title">gestor: {{Evento.gestor}}</h7></li>
      <li><h7 class="card-title">Descripción: {{Evento.Descripción}}</h7></li>
      {% for attendee in Evento.Asistentes.all %}
      <li><h7 class="card-title">Asistentes: {{attendee}}</h7></li>
      {% endfor %}
      
    </div>
    </ul>
</div>
<br/>


{% endblock %}